@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}
:root {
    --primary-color: rgb(254, 163, 1);
    --secondary-color: rgb(1, 172, 253);
    --tertiary-color: rgb(17, 17, 17);
    --primary-font-family: Quicksand;
    --secondary-font-family: Raleway;
  }
body{
background: rgb(247, 247, 247);
}

.body-content {
    width: 80vw;
    margin: 0px auto;
    overflow: hidden;
  }
  .navbar
  {
    display: flex;
    justify-content: space-between;
    height: 102px;
    padding: 20px 0px 20px 0px;
    font-family: var(--primary-font-family);
    align-items: center;
  }
  .navbar .logo
  {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .navbar .logo>img
  {
    width: 62px;
    height: 62px;
  }
  .navbar .logo>h3{
    font-size: 2rem;
    font-weight: 700;
  }
 .navbar>ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
 }
 .navbar li{
   list-style: none;
 }
 .navbar  ul > li > a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    transition: .3s;
}

.navbar  ul > li:nth-child(1) > a {
    color: rgb(1, 172, 253); 
}

.navbar  ul > li:nth-child(2) > a {
    color: rgb(5, 212, 223);
}

.navbar  ul > li:nth-child(3) > a {
    color: rgb(93, 88, 239);
}

.navbar  ul > li:nth-child(4) > a {
    color: rgb(0, 255, 0); 
}

.navbar  ul > li > a:hover {
    color: var(--primary-color);

}
.navbar>button
{
    width: 197px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    font-family: var(--primary-font-family);
    font-size: 1.25rem;
    font-weight: 600;
    transition: .3s;
}
.navbar>button:hover{
    background-color: var(--secondary-color);
}

.menu-bar{
    display: none;
}
.menu-bar .dropdown{
    display: none;
}
.menu-icon i{
    font-size: 2rem;
}
/* Nav section Ends */

/* Bannar section starts */
.bannar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 100%; 
}
.bannar-content {
  flex: 0 0 60%;
  font-family: var(--primary-font-family);
  display: flex;
  flex-direction: column;
  gap: 24px;
  }
.bannar-content h4, .bannar-content span{
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  text-align: left;
}
.bannar-content p{
  color: var(--tertiary-color);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}
.bannar-content button{
  color:white;    
  width: 197px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background-color: black;
  transition: .3s;
  font-family: var(--primary-font-family);
  font-size: 1.25rem;
  font-weight: 700;
}
.bannar-content button:hover{
  background-color: var(--primary-color);
  color: black;
}

.bannar-img {
  flex: 0 0 40%; 
  max-width: 100%;
  display: block; 
}

.bannar-img img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}


  @media (min-width: 768px) and (max-width: 1024px) {
    .body-content {
      width: 90vw;
    }
    .navbar>ul{
        gap: 1rem;
     }
     .navbar .logo > h3 {
        font-size: 1.8rem; 
      }
    
      .navbar .logo>img {
        width: 55px; 
        height: 55px;
      }
    
      .navbar > ul > li > a {
        font-size: 1.1rem; 
      }
    
      .navbar > button {
        width: 170px;
        height: 45px;
        font-size: 1.1rem;
      }
      /* banner content starts */
     
      
  .bannar-content h4,
  .bannar-content span {
    font-size: 2.5rem; 
    font-weight: 700;
    line-height: 48px;
  }

  .bannar-content p {
    font-size: 1.1rem; 
    line-height: 22px; 
  }

  .bannar-content button {
    width: 180px; 
    height: 45px;
    font-size: 1.1rem; 
  }
  }
  
  @media(max-width: 768px) {
    .body-content {
      width: 100vw; 
    }
    
    .navbar>.logo>h3, .navbar>ul, .navbar>button
    {
        display: none;
    }
    .navbar{
        border-bottom:2px solid var(--primary-color) ;
        height: 70px;
        padding: 20px 30px;
        position: relative;
    }
    .menu-bar{
        display:block;
        cursor: pointer;
        transition-duration: .3s;
    }
    .menu-bar:hover .dropdown{
        display: block;
        position: absolute;
        right: 0;
    }
    .navbar .logo>img {
        width: 50px; 
        height: 50px;
      }
    /* Banner section starts */
    .bannar {
      flex-direction: column-reverse; 
      padding: 0px 20px; 
    }
  
    .bannar-content {
      flex: 0 0 100%; 
      box-sizing: border-box; 
    }
  
    .bannar-content h4,
    .bannar-content span {
      font-size: 2rem;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
    }
  
    .bannar-content p {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
    }
  
    .bannar-content button {
    width: 131px;
    height: 42px;
    padding: 6px 24px 6px 24px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 30px;
    margin: 0px auto;
    }
  
    .bannar-img {
      flex: 0 0 100%; 
    }
  
    .bannar-img img {
      width: 100%; 
      height: auto;
      object-fit: cover;
    }
  }